/* 
    Document   : frontend
    Created on : 19/05/2013, 12:22:53 AM
    Author     : Marc Ancajas
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body { margin:0 auto; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#959595; background:#ffffff url(../images/bg.png) repeat-x; }

/*****	HEADER	*****/

#Head_container { 
    width:100%; 
    height: 175px; 
    margin:0 auto; 
    background-color:#ffffff; 
    border-bottom: solid 1px #ececec;
}
#logo_container { 
    background-color:#ffffff; 
    width:1150px; 
    margin:0 auto;
}
#logo { 
    width:215px; 
    padding-top: 60px; 
    padding-left: 60px;
    float:left; 
    position:static;
}
#welcome_msg { 
    width:620px; 
    float:right;
    background:url(../images/welcome-bg.png) no-repeat; 
    padding:65px 150px 0px 75px; 
    position:static;
}
#welcome_msg p { 
    color:#999999; 
    font-size:16px; 
}
#welcome_msg img { 
    margin:0 0 0 -20px; 
    padding:0; 
    position:static; 
    bottom:0; 
}

/***** MYCAROUSEL *****/

#carousel_background {
    width:100%;
    margin:0 auto; 
    background-color:#000000;
    height: 300px;
}

#carousel_container { 
    background-color:#000000; 
    width:1150px;
    height: 300px;
    margin:0 auto;
}

/***** PAGE CONTENT *****/

#page_background {
    width:100%;
    margin:0 auto; 
    background-color: #ffffff ;
    border-top: solid 3px #0e509e;
}

#page_container { 
    background-color:#ffffff; 
    width:1150px;

    margin:0 auto;
}




/***** LOGIN CSS *****/


#login_background {
    width:100%;
    margin:0 auto; 
    background-color:#ffffff;
    height: auto;
}

#login_container { 
    background-color:#ffffff; 
    width:1150px;
    height: auto;
    margin:0 auto;
}


/*****	SERVICES	*****/

#services_holder { background:#e0e0e0 url(../images/services-line.png) repeat-x; width:100%; }
#services { width:950px; margin:0 auto; padding:25px 0; }
h2 a, h3 a, h4 a, h5 a { color:#509dc9; text-decoration:none; font-weight:bold; font-size:14px; }
.services-block { width:220px; margin:8px; float:left; }

/*****	ABOUT	*****/

#about_container { background:#ececec url(../images/about-line.png) repeat-x; width:100%; padding-bottom:25px; }
#about { width:950px; margin:0 auto; padding:25px 0 0 0; }
#about_me_box { width:479px; background:#000 url(../images/about-bg.png); padding:60px 10px 0 10px; float:left; position:relative; }
#about_me_box img { position:absolute; bottom:0; left:0; }
#about_me_box p { margin-bottom:20px; }
#about_me_box span { background:url(../images/button-right.png) right no-repeat; padding:6px 10px 6px 0; }
#about_me_box span a { background:url(../images/button-left.png) left no-repeat; padding:6px 0 6px 10px; color:#fff; text-decoration:none; }

#blog { float:left; width:410px; margin-left:40px; }
#blog img { margin:20px 0 15px 0; }
#blog p.date { color:#666666; margin-top:-15px; } 
.post { border-bottom:1px dotted #fff; margin-top:-18px; }
.post h6 a { color:#509dc9; text-decoration:none; font-weight:bold; font-size:12px; }

/*****	FOOTER	*****/

#footer_background {
    width:100%;
    margin:0 auto; 
    background-color:#ffffff;
    height: 300px;
}

#footer_container { 
    background-color:#ffffff; 
    width:1150px;
    height: 300px;
    margin:0 auto;
}

#nav { width:100%; height:40px; margin:0 auto; }
#nav ul { margin:10px 0 0 0; padding:0; list-style:none; float:right; }
#nav ul li { float:left; width:120px; border-right:1px dotted #666666; text-align:center; }
#nav ul li a { color:#ccc; text-decoration:none; font-size:10px; letter-spacing:1px; padding:20px;}
#nav ul li.current a, #nav ul li a:hover { color:#509dc9; }
#nav ul li.last { border:none; }
.clear { clear:both;}


/***** USER CONTENTBOX	*****/

#user_background {
    width:100%;
    margin:0 auto; 
    background-color:#ffffff;
    height: 300px;
}


#user_container { 
    background-color:#ffffff; 
    width:1150px;
    height: 300px;
    margin:0 auto;
}

#user_contentbox { 
    background-color:#ffffff; 
    width:975px;
    height: 300px;
    margin:0 auto;
    float: right;
    border: solid 2px #000;    
}


#user_menubox {
    background-color:#ffffff; 
    width:150px;
    height: 300px;
    margin:0 auto;
    float: left; 
    border: solid 2px #000;
}