/* 
    Document   : styles.css
    Created on : 19/05/2013, 12:22:53 AM
    Author     : Marc Ancajas
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

body { height: 100%; weight: 100%; margin:0 auto; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; background:#000000 url(../images/bg.png) repeat-x }

/* NAVIGATION CSS */

a { 
    color: #ffffff;
    text-decoration:none;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}


/*****	HEADER	*****/

#head_container { 
    margin: 50px auto;
    width:1170px; /*** 1170x600 screen resolution ***/
    height: 170px; 
    background-color: transparent; 
}

#logo { 
    margin-top: 30px;
    margin-left: 30px;
    width:320px; 
    float:left; 
}

#welcome_msg { 
    width:400px; 
    float:right;
    background:url(../images/welcome-bg.png) no-repeat; 
    padding:65px 150px 0px 75px; 
    position:static;
}

#welcome_msg img { 
    padding:0; 
    bottom:0; 
}

#get_started {
    width: 225px;
    height: 50px;
    float:right;
    margin-top: 50px;
    margin-right: 40px;
}


/***** MYCAROUSEL | CONTENT HOLDER PAGE *****/

#carousel_background {
    width:100%;
    margin:0 auto; 
    background-color:#000000;
    height: 400px;
    box-shadow: 50px;
}

#carousel_container { 
    background-color:#000000; 
    width:1170px;
    height: 400px;
    margin:0 auto;
    box-shadow: 1px 2px 2px 1px #000000
}


/***** CONTENT SECTION PAGE CSS *****/


#content_background {
    width:100%;
    margin:0 auto; 
    background-color:#ffffff;
    height: auto;
}

#content_container { 
    background-color:#ffffff; 
    width:1170px;
    height: auto;
    margin:0 auto;
}


/*****	PAGE CONTENT	*****/

#page_wrapper {
    width:1170px;
    margin: 0 auto;
    background-color: transparent;
}


#bottom_container { 
    background-color: transparent; 
    width:1170px;
    margin:20px auto;
}



#services_holder { background:#000000 repeat-x; width:640px; box-shadow: 1px 2px 2px 1px #000000 }
#services { padding: 20px; width:640px; margin:0 auto;}


h3 { color:#509dc9; text-decoration:none; font-weight:bold; font-size:14px; }
.services-block { width:575px; margin:8px;  } 

/*****	FOOTER	*****/

#footer_container { 
    background-color: #666666; 
    width:1170px;
    height: 100px;
    margin:0 auto;
    box-shadow: 1px 2px 2px 1px #000000
}

#nav { width:100%; height:40px; margin:0 auto; padding: 10px; }
#nav ul { margin:10px 0 0 0; padding:0; list-style:none; float:right; }
#nav ul li { float:left; width:120px; border-right:1px dotted #666666; text-align:center; }
#nav ul li a { color:#ccc; text-decoration:none; font-size:10px; letter-spacing:1px;}
#nav ul li.current a, #nav ul li a:hover { color:#509dc9; }
#nav ul li.last { border:none; }
.clear { clear:both;}

h6.welcome_text {
    font-family:sans-serif;
    color: #0e509e;
}