/* 
    Document   : styles.css
    Created on : 20-Oct-2013, 22:52:30
    Author     : Marc Ancajas
    Description:
        Purpose of the stylesheet follows.
*/



    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    a.nav_font {
        font-size: 10px;
    }
    
    #page-wrapper {
        margin-top: 70px;
    }

    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
      border-bottom: 5px solid #0e509e;   
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 100px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }
    
    .content-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }
      
      #page-wrapper {
        margin-top: -20px;
      }
      .carousel-caption {
        margin-top: 120px;
      }
     
    }


    @media (max-width: 767px) {

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 50px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }


    }
  

    
/* LOGIN PAGE CSS */    

#login_container {
    top: 0%;
    left: 50%;
    width:980px;
    height:600px;
    margin-left: -490px; /*set to a negative number 1/2 of your width*/
    margin-top: -300px; /*set to a negative number 1/2 of your height*/
    position:fixed;
    z-index: 15;

}


#login_form {
    margin-right: 180px;
    width: 300px;
    height: 200px;
    float:right;
}
    

#login_logo {
    margin-top: 30px;
    margin-left: 180px;
    width: 300px;
    height: 136px;
    float: left;
}

#footer_container { 
    background-color: transparent; 
    width: 300px;
    margin:-230px 570px;
    box-shadow: none;
}

