/* 
    Document   : user.css
    Created on : 28/07/2013, 8:40:42 PM
    Author     : Marc Ancajas
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body { margin:0 auto; 
       padding:0; 
       font-family:Arial, Helvetica, sans-serif; 
       font-size:12px; color:#959595; 
       background: #ffffff url(../images/bg2.jpg); 
}

#platform-logo {
}

/*** START OF USER_NAVIGATION ***/
#user_navigation_container {
    float:left;
    height: 100%;
    width: 100px;
    position: fixed;

   border-right: .5px solid #ccc;
  
   background: rgba(0,0,0,0.25);
   box-shadow: 0 .5px .5px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

}

.social_icons_bar {
    margin: 20% auto;
    position: static;
}

/*** START OF CONTENT BOX ***/
#user_contentbox {
    background-color: transparent; 
    width: 100%;
    height: 800px;
    float: left;
    margin: 10px 110px;
}



/*** START OF UTILITY BOX ***/


#utility-box {
   
    height: 100%;
    position: fixed;
    width: 250px;
    top: 0%;
    right: 0px;
    
   background: rgba(0,0,0,0.25);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

}


#box { 
   position: fixed;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

#character-box { 
   position: fixed;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}











#login_container {
    width:1170px;
    height: 500px;
    margin: 15% auto;
}

#login_form {
    margin-right: 300px;
    width: 300px;
    height: 200px;
    float:right;
    position: static;
}
    

#login_logo {
    margin-top: 30px;
    margin-left: 250px;
    width: 300px;
    height: 136px;
    float: left;
}

#footer_container { 
    background-color: transparent; 
    width: 300px;
    margin:-260px 570px;
    box-shadow: none;
}


div.editable {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}