/* 
    Document   : user.css
    Created on : 28/07/2013, 8:40:42 PM
    Author     : Marc Ancajas
    Description:
        Purpose of the stylesheet follows.
*/

body { margin:0 auto;
       background: #ffffff; /*Add background image here*/
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
}

/*** START OF USER_NAVIGATION ***/

#platform_container {
    margin: 70px auto;
    height: 100%;
    width: 1180px;

}

#user-menu {
    position:fixed;
    float:left;
    height: 100%;
    width: 150px;
    border-right: 1px solid;
    border-color: #B7B7B7;
    
}

li.nav-icons {
    padding-top: 5px;
    padding-bottom: 5px;
}

li.nav-icons a {
    margin-left: 40px;
    width: 70px;
    height: 65px;
    border-radius: 5px;
}

li.nav-icons a span.dashboard-icon { display: block; width: 70px; height: 65px; background: url(../images/jamengine-icons.png) -12px -25px; }
li.nav-icons a span.messages-icon { display: block;width: 70px;height: 65px;background: url(../images/jamengine-icons.png) -102px -28px; }
li.nav-icons a span.characters-icon { display: block;width: 70px;height: 65px;background: url(../images/jamengine-icons.png) -353px -25px; }
li.nav-icons a span.rankings-icon { display: block;width: 70px;height: 65px;background: url(../images/jamengine-icons.png) -12px -115px; }
li.nav-icons a span.profile-icon { display: block;width: 70px;height: 65px;background: url(../images/jamengine-icons.png) -188px -25px; }
li.nav-icons a span.account-icon { display: block;width: 70px;height: 65px;background: url(../images/jamengine-icons.png) -98px -112px; }
li.nav-icons a span.help-icon { display: block;width: 70px;height: 65px;background: url(../images/jamengine-icons.png) -190px -112px; }
li.nav-icons a span.logout-icon { display: block;width: 70px;height: 65px;background: url(../images/jamengine-icons.png) -269px -25px; }


/*.dashboard-icon { background: url(../images/jamengine-icons.png) 10px 10px } */

.social_icons_bar {
    margin: 20% auto;
    position: static;
}

/*** START OF CONTENT BOX ***/
#user_contentbox {
    background-color: transparent; 
    width: 980px;
    margin-top: 25px;
    margin-right: 40px;
    float:right;
  /*  border: 1px solid;
    border-color: #B7B7B7;
    border-radius: 5px; */
}

/*** START OF UTILITY BOX ***/
#utility-box {
    position:absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 150px;
    border-left: 1px solid;
    border-color: #B7B7B7;
}

.footer-container {
    position: absolute;
    bottom: 0;
}


@media (max-width: 1400px) {
    
    #utility-box {
        display:none;
    }

  
    
}

 @media (max-width: 979px) {

    #platform_container {
    margin: -20px auto;
    height: 1024px;
    width: 1180px;
  
    }

    #user_contentbox {
    width: 750px;
    float: left;
    margin-left: 10px;
    }
    
    #user-menu {
    position:relative;
    float:left;
    height: 100%;
    width: 150px;
    border-right: 1px solid;
    border-color: #B7B7B7;
    
    }
    
    
    
 }
 
 @media (max-width: 767px) {

    #platform_container {
    margin: -20px auto 0 -20px;
    height: 1024px;
    width: 1180px;
  
    }
    
    #user_contentbox {
    width: 450px;
    float: left;
    margin-left: 10px;
    }



}





